
<div class="container" *ngIf="!loading">
<h1 class="heading">Top 100 Currencies for now</h1>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="space-between center">
    <div class="card" *ngFor="let crypto of cryptos" fxFlex="30" [routerLink]="['/crypto']" [queryParams]="{ name: crypto.slug, id: crypto.id}">
        <img src="{{crypto.iconUrl}}" alt="{{crypto.name}}"/>
        <h1 class="card-heading">{{crypto.name}}</h1>
    </div>
</div>
</div>
<app-spinner *ngIf="loading"></app-spinner>