@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.container{
    margin-left: 5%;
    margin-right: 5%;
    
}

.tabs{
    color: #EEEEEE;
}

.mat-tab-label{
    color: #EEEEEE;
}

.tab-container{
    color: #EEEEEE;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card{
    border: 2px solid #00ADB5;
    padding: 2%;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    &:hover{
        background-color: #393E46;
      }
}

.card-content{
    width: 65%;
}

img{
    align-self: center;
    width: 25%;
}

.heading{
font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #EEEEEE;
  font-size: 3rem;
  @media screen and (max-width:658px) {
    align-self: center;
    text-align: center;
  }
}

.card-date{
    color: #949494;
}